---
title: Pages
layout: page
---


  {% for page in site.pages %}

  {% assign minutes = page.content | number_of_words | divided_by: 180 %}
  {% if minutes == 0 %}
    {% assign read-time = site.var_less_than_a_minute_read %}
  {% else %}
    {% assign read-time = minutes | append: "&nbsp;" | append: site.var_min_read %}
  {% endif %}

    <p>
      <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a><br/>
      <span class="meta">{{ page.date | date: site.date_format }} • {% if page.categories.size > 0 %} {{ page.categories | category_links }} • {% endif %}{{ read-time }}</span>
    </p>
  {% endfor %}
